@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,500&family=Poppins:wght@200;300;400;500;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 body{
    background-image: url(../img/imagen-suave-borrosa-abstracta-ia-generativa-color-rojo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 100vh;
    
} 
nav{
    width: 100%;
    display: flex;
    height: 85px;
    align-items: center;
}
nav .imagennav{
    display: flex;
    justify-content: center;
    align-items: center;

}
nav h1{
    color: aliceblue;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.formulario{
    justify-content: center;
    display: flex;
    flex-direction: column;
  
    box-shadow: 0px 0px 48px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    backdrop-filter: blur(30px);
    border: 1px #ffffff86 solid;
}
.inicios{
    margin: 20px 30px 0 20px;
    height: 250px;
    width: 290px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.inicios input{
    border: none;
    border-bottom: 2px rgb(255, 255, 255) solid;
    outline: none;
    background:none;
    color: #ffffff;
}
.inicios label{
    position: absolute;
    color: #ffffff;
    font-weight: 300;
    font-size: 0.9rem;
}
.inicios button{
    border-radius: 5px;
    border: none;
    padding: 7px 0;
}
.texto{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.texto h2{
    color: #ffffff;
    font-weight: 600;
}
.enlaces{
    margin-bottom: 20px;
    margin-top: 30px;
}
.enlaces a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9em;
    padding-left: 10px;
}
.iconosgo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    height: 30px;
    
    border-radius: 5px;
    
    margin: -7px 0 40px 0;
    
}

.google , .facebook{
    display: flex;
    width: 40%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 0.8em;
    
}
.iconosgo img{

    margin-top: 2px;
    width: 20px;
    height: 20px;
    padding-right: 2px;
 
}