@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Source+Sans+Pro:ital,wght@1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* NAVEGADOR */
header{
    background-color:#030303;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    min-height: 60px;
    row-gap: 20px;
}
img{
    cursor: pointer;
}
.logo{
    display: flex;
margin-left: 50px;
   
}
.logo img{
    height: 75px;
    width: 180px;
    cursor: pointer;
}
nav{
    display: flex;
    position: absolute;
    left: 17rem;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    cursor: pointer;
    color: rgba(240, 248, 255, 0.644);
    font-weight: 500;
    padding: 0 5px 0 16px;
    margin: 0 0 0 10px;
    border-radius: 10px; 
    transition: all ease-in-out 0.5s; 
    position: relative;
}

nav a::after{
    content: "";
    height: 3px;
    width: 0;
    border-radius: 5px;
    background-color: #e70808;
    position: absolute;
    left: 5px;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover::after{
    width: 100%;
}
nav a:hover{
    color: #fff;
}
#iniciopri{
    color: #fff;
}
#iniciopri:hover{
    color: #fff9f9;
}
.inicios{
    display: flex;
    right: 0;
    
}
.iniciosesion{
    color: #000000;
    text-decoration: none;
    flex-wrap: wrap;
    font-weight: 500;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 5px;
    justify-content: end;
    margin-left: 12px;
    transition: all ease-in-out .5s;
}
.iniciosesion:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fff  0%, #fff  50%, rgb(206, 202, 202) 40%);
    background-size: 200% auto;
    color: #000000;
}
/* Navegador reponsivee*/
.botonnav{
    display: none;
    cursor: pointer;
}

.botonbuscar{
    display: none;
    cursor: pointer;
}
/*----------------BARRA REPONSIVE------------ */
.barra {
    position: absolute;
    text-decoration: none;
    right: 0;
    height: 100%;
    padding: 10px;
    top: 4rem;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: #030303;
    overflow: hidden;
    display: none;
    clip-path: circle(0% at 91% 10%);
    transition: ease all 0.5s;  
}
.barra.open{
    clip-path: circle(150% at 91% 10%);
}
.barra ul{
    padding-left: 0;
}
.barra li{
    padding: 15px 2px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.barra .iniciose{
    margin: 0;
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    font-weight: 700;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 202, 202);
    color: black;
    margin: 0 0 20px 0;
    z-index: 100;
    transition: all ease-in-out .5s;
}

.barra .iniciose:hover{
    background-position: right center;
        background-image: linear-gradient(to right, rgb(206, 202, 202)  0%, rgb(206, 202, 202)  50%, #ffffff 40%);
        background-size: 200% auto;
        color: #000000;
}
.barra li a{
    text-decoration: none;
    color: rgb(122, 122, 122);
    font-weight: 700;
    border-bottom: 2px #585858 solid;
    width: 100%;
    background-color: #030303;
    transition: all ease-in-out .5s;
}
.barra li a:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fff  0%, #fff  50%, rgb(206, 202, 202) 40%);
    background-size: 200% auto;
    color: #000000;
    display: block;
}
.down{
display: none;
}
.down li a:hover{
    display: block;
}

/*----------------BUSCADOR REPONSIVE------------ */
.buscar{
    position: absolute;
    right: 0;
    top: 7rem;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: none;
    overflow: hidden;
    background-color: #f72a4c;
    border-radius: 0 0 20px 20px;
    clip-path: circle(0% at 91% 10%);
    transition: ease all 0.3s;  
}
.buscar.open{
    clip-path: circle(150% at 91% 10%);
}
.buscar input{
    border-radius: 30px;
    border: none;
    flex-wrap: wrap;
    width: 90%;
    height: 31px;
    right: 20px;
    padding: 0 5px;
}
.buscar ::placeholder{
color: rgb(170, 170, 170);
border: none;
font-size: 0.8em;
}
.buscar button{
    background-color: aliceblue;
    border: none;
    border-radius: 30px;
    padding: 2px 0 0 0;
    width: 30px;
    height: 31px;
    flex-wrap: wrap;
    transition: all ease-in-out .5s;
}
.buscar button:hover{
    transform: scale(0.7);
}

/*----------------------SEPARADOR------------------- */
.separador{
    border-top: rgba(255, 181, 181, 0.425) 1px solid;
}
.separador1{
    border-bottom: rgba(255, 176, 176, 0.404) 1px solid;
}

/*////////////////////////////////////// ESPACIADOR //////////////////////////////////////////////////////////// */
.espaciador{
    display: initial;
    flex-wrap: wrap;
   
}
.espaciador  p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-weight: 500;
    font-size: calc(2vh + .1em);
    background-color: #f72a4c;
    transition: all ease-in-out 0.5s;
    color: #ffffff;
    padding: 5px 0;
    border-top: #ffffff96 2px solid;
}
.espaciador p:hover{
    text-decoration:underline;
    cursor: pointer;
    background-position: right center;
    background-size: 200% auto;
    
}
.espaciador h1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-weight: 700;
    font-size: calc(4vh + .1em);
    padding: 5px;
    color: #fff;
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%,  rgba(7,7,9,1) 93.2% );
    border-top: #ffffff77 2px solid;
    border-bottom: #ffffffa1 2px solid;
    
}

/*PRODUCTOS DE TODO TIPO */
.conteprod{
    background-color: rgb(255, 255, 255);
    
    width: 100%;
    display: block;
    flex-wrap: wrap;
    background-color: #030303;

}

.contenidoproduc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 120px;
    gap: 0 ;

}
.contenidoproduc .pccomp{
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    width: 30%;
    height: 340px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    flex-direction: column;
    
    opacity: 1;
    transition: opacity 1s ease 0s;

}

.pccomp img{
    width: 70%;
    height: 220px;
    transition: height 1s ease 0s;
    
}
.pccomp:hover{
    border: 4px solid rgb(255, 42, 42);
    transform: scale(1.05);
    
}


.pccomp h3{
    color: rgb(87, 87, 87);
    font-weight: 800;
    
    font-size: 1.0em;
}
.pccomp h4{
    color: #303030;
    font-weight: 900;
    
    
}
.pccomp button{
    display: flex;
   background-color: #ff1212;
   
    color: aliceblue;
    border-radius: 20px;
    font-weight: 700;
    height: 35px;
    width: 180px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all ease-in-out .5s;
    
}


.pccomp:hover{
   
color: #fff;
}
.pccomp button:hover{
    
    background: rgb(255,65,126);
    background: linear-gradient(53deg, rgba(255,65,126,1) 0%, rgba(132,41,235,1) 100%);
}

.contenedor3{
    display: flex;
    width: 100%;
    height: 500px;
   background-color: #030303;
   
    
    
}
.contenedor3 .imagencpu{
    position: relative;
    height: 100%;
    width: 100%;
}
.contenedor3 .imagencpu img{
    position: relative;
    width: 600px;
    height: 600px;
    top: -100px;
    right: 50px;
    bottom: 0;
    animation: movimiento 4s linear infinite;
    
}

.contenedor3 .textocpu{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgb(3,3,3);
background: linear-gradient(131deg, rgba(3,3,3,1) 63%, rgba(255,158,27,1) 63%);
    
}

.contenedor3 .textocpu p{
    font-family:'Raleway', sans-serif;
    color: #fff;
    font-size: 1.5em;
}
.contenedor3 .textocpu h1{
    color: #ff9e1b;
}
.contenedor3 button{
    border: none;

}


@keyframes movimiento{
    
    50%{
        right: 30px;
        top: -90px;
    }
}
.wave svg{
  
    width: 100%;
    height: 100px;
    stroke: none;
    background: none;
    flex-wrap: wrap;
}

.espaciadorcont{
    content: "";
    width: 20%;
    width: 100%;
    background-color: #030303;
    overflow: hidden;
}

  /* FOOTER////////////////////////// */

footer{
    display: flex;
    width: 100%;
    position: absolute;
    right: 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #030303;
    
    border-bottom: #fff 2px solid;
}

footer img{
    width: 300px;
    height: 150px;
}
.iconosredes a > i{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 6px;
    margin: 5px;


}
.iconosredes a{
    text-decoration: none ;
    color: #fff;
}

.contenidofooter{
    display: flex;
}
.contenidofooter li{
    list-style: none;
    padding: 10px;
    color: #fff;
    border-top: #ffffff 2px solid;
    transition: border-top 1s ease 0s;
}
.contenidofooter li{
    border-top: #fffcfc 0.5px solid;

}




/*MEDIA QUERY REPONSIVE*/
@media (max-width:991px){
    /*Nav */
    header{
        min-height: 35px;
        padding: 3px;
    }
    nav{
        display: none;
    }
    .iniciosesion{
        display: none;
    }
    /* boton buscar */
    .botonbuscar{
        display: flex;
        position: absolute;
        right: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2px 10px 10px 10px;
    }
    .botonnav{
        display: flex;
        position: absolute;
        right: 0;
        padding: 9px 10px 10px 10px;
    }
    .botonnav i {
        padding: 3px 10px 10px 10px;
    }
    .logo img{ 
        height: 80px;
    }
    .barra{
        top:5rem; 
        width:100%;
        height: 72%;
        display: block;
        z-index: 100;
     }
     .buscar{
        top: 5rem;
        height: 7%;
        width: 100%;
        display: block;
        z-index: 100;
     }
     .carousel img{
        height: 441px;
        width: 100%;
    }
     /* Carrusel */
     .contenidoproduc .pccomp{
        width: 44%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        flex-direction: column;
    }
    .conteprod{
        height: 1200px;
    }

    /* FOOTER CSS */

} 
@media (max-width:700px){
    .contenidoproduc .pccomp{
        width: 86%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 380px;
        margin-bottom: 15px;
        padding: 5px;
        flex-direction: column;
    }
    .conteprod{
        height: 3820px;

    }
    .contenedor3 .imagencpu img{
        width: 300px;
        height: 300px;
        right: 20px;
    }
    .contenedor3{
        height: 200px;

    }
}
@media (max-width:576px){

    header{
        min-height: 30px;
        padding: 3px;
    }
    
    .logo img{
        height: 70px;
    }/* ----BOTONES MEDIA QUERY-------*/

    .botonnav{
        display: block;  
    }
    .botonnav i {
        padding: 11px 10px 0 10px;
    }
    .botonbuscar{
        display: flex;
        position: absolute;
        right: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    /* ----BARRA MEDIA QUERY*/
  
    .barra{
        top:4.3rem; 
        width:100%;
        height: 72%;
        display: block;
        z-index: 100;
     }
    /* ----BUSCADOR MEDIA QUERY*/
    .buscar{
        top: 4rem;
        height: 7%;
        display: block;
        z-index: 100;
    }
    .buscar input{
        width: 85%;
    }
    /* ----ESPACIADOR MEDIA QUERY*/
    .espaciador p{
        font-size: calc(1vh + .1em);
    }
    .espaciador h1{
        font-size: calc(3vh + .1em);
    }
    /* ----CARRUSEL MEDIA QUERY*/
    .carousel img{
        height: 250px;
        width: 100%;

    }

    .contenidoproduc .pccomp{
        width: 89%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 360px;
        padding: 5px;
        flex-direction: column;
    }
    .conteprod{
        height: 3600px;

    }
    .contenidofooter li{
        flex-direction: column;
        flex-wrap: wrap;

    }
}