*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: TTNormsProRegular,MyriadRegular,Segoe UI,Arial,PingFang TC,Microsoft JhengHei,sans-serif;
}
/* NAVEGADOR */
header{
    background-color: #F72A4B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    min-height: 60px;
    
}
img{
    cursor: pointer;
}
.logo{
    display: flex;
   
}
.logo img{
    height: 75px;
    width: 180px;
    cursor: pointer;
}
nav{
    display: flex;
    position: absolute;
    left: 13rem;
    flex-wrap: wrap;
    

}
nav a{
    
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
    font-weight: 500;
    padding: 0 5px 0 16px;
    margin: 0 0 0 10px;
    border-radius: 10px; 
    transition: all ease-in-out 0.5s; 
    
}
nav a:hover{
    
        background-position: right center;
        background-image: linear-gradient(to right, #F72A4B  0%, #F72A4B  50%, #ffffff 40%);
        background-size: 200% auto;
        color: #000000;
        
        
}

/* Navegador reponsivee*/
.botonnav{
    display: none;
    cursor: pointer;
}

.botonbuscar{
    display: none;
    cursor: pointer;
}
.barra {
    position: absolute;
    text-decoration: none;
    right: 0;
    height: 100%;
    padding: 10px;
    top: 4rem;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: #f72a4c;
    overflow: hidden;
    display: none;
    clip-path: circle(0% at 91% 10%);
    transition: ease all 0.5s;  
}
.barra.open{
    clip-path: circle(150% at 91% 10%);
}
.buscar{
    position: absolute;
    right: 0;
    top: 7rem;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: none;
    overflow: hidden;
    background-color: #f72a4c;
    border-radius: 0 0 20px 20px;
    clip-path: circle(0% at 91% 10%);
    transition: ease all 0.3s;  
}
.buscar.open{
    clip-path: circle(150% at 91% 10%);
}
.buscar input{
    border-radius: 30px;
    border: none;
    flex-wrap: wrap;
    width: 90%;
    height: 31px;
    right: 20px;
}
.buscar input .placeholder{
color: rgb(248, 1, 1);
border: none;
}
.buscar button{
    background-color: aliceblue;
    border: none;
    border-radius: 30px;
    padding: 2px 0 0 0;
    width: 30px;
    height: 31px;
    flex-wrap: wrap;
}

.barra li{
    padding: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.barra .iniciose{
    margin: 0;
    display: flex;
    text-decoration: none;
    width: 100%px;
    height: 30px;
    border-radius: 30px;
    font-weight: 700;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 202, 202);
    color: black;
    margin: 0 0 20px 0;
    z-index: 100;
    transition: all ease-in-out .5s;
}

.barra .iniciose:hover{
    background-position: right center;
        background-image: linear-gradient(to right, rgb(206, 202, 202)  0%, rgb(206, 202, 202)  50%, #ffffff 40%);
        background-size: 200% auto;
        color: #000000;
}
.separador{
    border-top: rgba(255, 181, 181, 0.425) 1px solid;
}
.separador1{
    border-bottom: rgba(255, 176, 176, 0.404) 1px solid;
}
.barra li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border: rgba(255, 255, 255, 0.295)  2px solid;
    border-radius: 10px;
    padding: 2px 300px 2px 5px;
    flex-wrap: wrap;
    background-color: #ffffff;
    transition: all ease-in-out .5s;
}
.barra li a:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fff  0%, #fff  50%, rgb(206, 202, 202) 40%);
    background-size: 200% auto;
    color: #000000;
}
/* Carrusel */

.espaciador{
    display: initial;
    flex-wrap: wrap;
   
}
.espaciador  p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-weight: 500;
    font-size: calc(2vh + .1em);
    background-image: linear-gradient(to right,  #ff1ab3 0%,  #f72a4c 50%, #ff1ab3  100%);
    transition: all ease-in-out 0.5s;
    color: #ffffff;
    padding: 5px 0;
    box-shadow: -5px -17px 58px -33px rgba(0,0,0,0.75);
    border-top: #ffffff96 2px solid;


    
}
.espaciador p:hover{
    text-decoration:underline;
    cursor: pointer;
    background-position: right center;
    background-size: 200% auto;
    
}

/*MEDIA QUERY REPONSIVE*/
@media (max-width:1081px){
.buscarnav{
        display: none;
        overflow: hidden;
    }
}

@media (max-width:991px){
    /*Nav */
    header{
        min-height: 35px;
        padding: 3px;
    }
    nav{
        display: none;
    }
    /* boton buscar */
    .botonbuscar{
        display: flex;
        position: absolute;
        right: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2px 10px 10px 10px;
    }
    .botonnav{
        display: flex;
        position: absolute;
        right: 0;
        padding: 9px 10px 10px 10px;
        
    }
    .botonnav i {
        padding: 3px 10px 10px 10px;
    }
    .logo img{ 
        height: 80px;
    }
    .barra{
        top:5rem; 
        width:100%;
        height: 72%;
        display: block;
        z-index: 100;
     }
     .buscar{
        top: 5rem;
        height: 20%;
        width: 100%;
        display: block;
        z-index: 100;
       
        
     }
     /* Carrusel */
    
    @media (max-width:576px){

        header{
            min-height: 30px;
            padding: 3px;
        }
        .barra{
           top:4.3rem; 
           width:100%;
           height: 72%;
           display: block;
           z-index: 100;
        }
        .logo img{
            height: 70px;
        }
        .botonnav{
            display: block;  
        }
        .botonnav i {
            padding: 11px 10px 0 10px;
        }
        .botonbuscar{
            display: flex;
            position: absolute;
            right: 3rem;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .barra li a{
            padding: 2px 160px 2px 5px;
        }
        .buscar{
            top: 4rem;
            height: 20%;
            display: block;
            z-index: 100;
        }
        .buscar input{
            width: 85%;
        }
        .espaciador p{
            font-size: calc(1vh + .1em);
        }
    }

} 