*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: TTNormsProRegular,MyriadRegular,Segoe UI,Arial,PingFang TC,Microsoft JhengHei,sans-serif;
}
/* NAVEGADOR */
header{
    background-color: #F72A4B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    min-height: 60px;
}
img{
    cursor: pointer;
}
.logo{
    display: flex;
   
}
.logo img{
    height: 75px;
    width: 180px;
    cursor: pointer;
}
nav{
    display: flex;
    position: absolute;
    left: 13rem;
    flex-wrap: wrap;
}
nav a{
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
    font-weight: 500;
    padding: 0 5px 0 16px;
    margin: 0 0 0 10px;
    border-radius: 10px; 
    transition: all ease-in-out 0.5s; 
}
nav a:hover{
        background-position: right center;
        background-image: linear-gradient(to right, #F72A4B  0%, #F72A4B  50%, #ffffff 40%);
        background-size: 200% auto;
        color: #000000;      
}
.inicios{
    display: flex;
    right: 0;
    
}
.iniciosesion{
    color: #000000;
    text-decoration: none;
    flex-wrap: wrap;
    font-weight: 500;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 5px;
    justify-content: end;
    margin: 0 5px;
    transition: all ease-in-out .5s;
}
.iniciosesion:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fff  0%, #fff  50%, rgb(206, 202, 202) 40%);
    background-size: 200% auto;
    color: #000000;
}
/* Navegador reponsivee*/
.botonnav{
    display: none;
    cursor: pointer;
}

.botonbuscar{
    display: none;
    cursor: pointer;
}
/*----------------BARRA REPONSIVE------------ */
.barra {
    position: absolute;
    text-decoration: none;
    right: 0;
    height: 100%;
    padding: 10px;
    top: 4rem;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: #f72a4c;
    overflow: hidden;
    display: none;
    clip-path: circle(0% at 91% 10%);
    transition: ease all 0.5s;  
}
.barra.open{
    clip-path: circle(150% at 91% 10%);
}
.barra li{
    padding: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.barra .iniciose{
    margin: 0;
    display: flex;
    text-decoration: none;
    width: 100%px;
    height: 30px;
    border-radius: 30px;
    font-weight: 700;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 202, 202);
    color: black;
    margin: 0 0 20px 0;
    z-index: 100;
    transition: all ease-in-out .5s;
}

.barra .iniciose:hover{
    background-position: right center;
        background-image: linear-gradient(to right, rgb(206, 202, 202)  0%, rgb(206, 202, 202)  50%, #ffffff 40%);
        background-size: 200% auto;
        color: #000000;
}
.barra li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border: rgba(255, 255, 255, 0.295)  2px solid;
    border-radius: 10px;
    padding: 2px 300px 2px 5px;
    flex-wrap: wrap;
    background-color: #ffffff;
    transition: all ease-in-out .5s;
}
.barra li a:hover{
    background-position: right center;
    background-image: linear-gradient(to right, #fff  0%, #fff  50%, rgb(206, 202, 202) 40%);
    background-size: 200% auto;
    color: #000000;
}
/*----------------BUSCADOR REPONSIVE------------ */
.buscar{
    position: absolute;
    right: 0;
    top: 7rem;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: none;
    overflow: hidden;
    background-color: #f72a4c;
    border-radius: 0 0 20px 20px;
    clip-path: circle(0% at 91% 10%);
    transition: ease all 0.3s;  
}
.buscar.open{
    clip-path: circle(150% at 91% 10%);
}
.buscar input{
    border-radius: 30px;
    border: none;
    flex-wrap: wrap;
    width: 90%;
    height: 31px;
    right: 20px;
    padding: 0 5px;
}
.buscar ::placeholder{
color: rgb(170, 170, 170);
border: none;
font-size: 0.8em;
}
.buscar button{
    background-color: aliceblue;
    border: none;
    border-radius: 30px;
    padding: 2px 0 0 0;
    width: 30px;
    height: 31px;
    flex-wrap: wrap;
    transition: all ease-in-out .5s;
}
.buscar button:hover{
    transform: scale(0.7);
}

/*----------------------SEPARADOR------------------- */
.separador{
    border-top: rgba(255, 181, 181, 0.425) 1px solid;
}
.separador1{
    border-bottom: rgba(255, 176, 176, 0.404) 1px solid;
}

/*////////////////////////////////////// ESPACIADOR //////////////////////////////////////////////////////////// */
.espaciador{
    display: initial;
    flex-wrap: wrap;
   
}
.espaciador  p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-weight: 500;
    font-size: calc(2vh + .1em);
    background-image: linear-gradient(to right,  #ff1ab3 0%,  #f72a4c 50%, #ff1ab3  100%);
    transition: all ease-in-out 0.5s;
    color: #ffffff;
    padding: 5px 0;
    border-top: #ffffff96 2px solid;
}
.espaciador p:hover{
    text-decoration:underline;
    cursor: pointer;
    background-position: right center;
    background-size: 200% auto;
    
}
.espaciador h1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-weight: 700;
    font-size: calc(4vh + .1em);
    padding: 5px;
    color: #fff;
    background-image: url("/img/side-wave_background\ \(2\).jpg");
    
}

/*PRODUCTOS DE TODO TIPO */
.conteprod{
    background-color: rgb(255, 255, 255);
    height: 800px;
    width: 100%;
    display: block;
    flex-wrap: wrap;
    background-image: linear-gradient(to right,  #ff1ab3 0%,  #f72a4c 50%, #ff1ab3  100%);
    border-radius: 30px 30px 30px 30px;
}

.contenidoproduc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 10px;

}
.contenidoproduc .pccomp{
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    width: 30%;
    height: 340px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
    flex-direction: column;
}

.pccomp img{
    width: 70%;
    height: 220px;
    
}

.pccomp h3{
    color: rgb(0, 0, 0);
    font-weight: 800;
    
    font-size: 1.0em;
}
.pccomp h4{
    color: #ff1212;
    font-weight: 900;
    
    
}
.pccomp button{
    display: flex;
    background: rgb(192,115,255);
    background: linear-gradient(53deg, rgba(192,115,255,1) 0%, rgba(160,61,250,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    border-radius: 20px;
    font-weight: 700;
    height: 35px;
    width: 180px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pccomp button:hover{
    transition: all ease-in-out .7s;
    transform: scale(1.05);
    background: rgb(255,65,126);
    background: linear-gradient(53deg, rgba(255,65,126,1) 0%, rgba(132,41,235,1) 100%);
}
.pccomp img:hover{
    transform: scale(1.04);
    transition: all ease-in-out .5s;
}




/*MEDIA QUERY REPONSIVE*/
@media (max-width:991px){
    /*Nav */
    header{
        min-height: 35px;
        padding: 3px;
    }
    nav{
        display: none;
    }
    .iniciosesion{
        display: none;
    }
    /* boton buscar */
    .botonbuscar{
        display: flex;
        position: absolute;
        right: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2px 10px 10px 10px;
    }
    .botonnav{
        display: flex;
        position: absolute;
        right: 0;
        padding: 9px 10px 10px 10px;
    }
    .botonnav i {
        padding: 3px 10px 10px 10px;
    }
    .logo img{ 
        height: 80px;
    }
    .barra{
        top:5rem; 
        width:100%;
        height: 72%;
        display: block;
        z-index: 100;
     }
     .buscar{
        top: 5rem;
        height: 20%;
        width: 100%;
        display: block;
        z-index: 100;
     }
     .carousel img{
        height: 441px;
        width: 100%;
    }
     /* Carrusel */
     .contenidoproduc .pccomp{
        width: 44%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        flex-direction: column;
    }
    .conteprod{
        height: 1200px;
    }
} 
@media (max-width:700px){
    .contenidoproduc .pccomp{
        width: 86%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 380px;
        margin-bottom: 15px;
        padding: 5px;
        flex-direction: column;
    }
    .conteprod{
        height: 2550px;
    }
}
@media (max-width:576px){

    header{
        min-height: 30px;
        padding: 3px;
    }
    
    .logo img{
        height: 70px;
    }/* ----BOTONES MEDIA QUERY-------*/

    .botonnav{
        display: block;  
    }
    .botonnav i {
        padding: 11px 10px 0 10px;
    }
    .botonbuscar{
        display: flex;
        position: absolute;
        right: 3rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    /* ----BARRA MEDIA QUERY*/
    .barra li a{
        padding: 2px 160px 2px 5px;
    }
    .barra{
        top:4.3rem; 
        width:100%;
        height: 72%;
        display: block;
        z-index: 100;
     }
    /* ----BUSCADOR MEDIA QUERY*/
    .buscar{
        top: 4rem;
        height: 20%;
        display: block;
        z-index: 100;
    }
    .buscar input{
        width: 85%;
    }
    /* ----ESPACIADOR MEDIA QUERY*/
    .espaciador p{
        font-size: calc(1vh + .1em);
    }
    .espaciador h1{
        font-size: calc(3vh + .1em);
    }
    /* ----CARRUSEL MEDIA QUERY*/
    .carousel img{
        height: 250px;
        width: 100%;

    }

    .contenidoproduc .pccomp{
        width: 89%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 360px;
        padding: 5px;
        flex-direction: column;
    }
    .conteprod{
        height: 2400px;
    }
}