*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* NAVEGADOR */
header{
    background-color: #F72A4B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    min-height: 75px;
}
.logo{
    display: flex;
   
}
.logo img{
    height: 75px;
    width: 180px;
    cursor: pointer;
}
nav a{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
    font-weight: 700;
    padding: 0 0 0 10px;
    border-radius: 10px;  
}
nav a:hover{
        background-color: rgb(255, 255, 255);
        color: black;
        transition: all ease-in-out .7s;
}

/* Navegador reponsivee*/
.botonnav{
    display: none;
    cursor: pointer;
}
.barra {
    position: absolute;
    text-decoration: none;
    right: 0rem;
    height: 100%;
    padding: 10px;
    top: 4rem;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: #F72A4B;
    overflow: hidden;
    display: none;
    clip-path: circle(0% at 91% 10%);
    transition: ease all 0.5s;  
}
.barra.open{
    clip-path: circle(150% at 91% 10%);
}

.barra li{
    padding: 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.barra .iniciose{
    margin: 0;
    display: flex;
    text-decoration: none;
    width: 100%px;
    height: 30px;
    border-radius: 30px;
    font-weight: 700;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 202, 202);
    color: black;
    margin: 0 0 20px 0;
    z-index: 100;
}
.separador{
    border-top: rgba(255, 181, 181, 0.425) 1px solid;
}
.separador1{
    border-bottom: rgba(255, 176, 176, 0.404) 1px solid;
}
.barra li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: rgba(255, 255, 255, 0.295)  2px solid;
    border-radius: 10px;
    padding: 2px 300px 2px 5px;
    flex-wrap: wrap;
}

/*MEDIA QUERY REPONSIVE*/

@media (max-width:796px){
    /*Nav */
    header{
        min-height: 35px;
        padding: 3px;
    }
    nav{
        display: none;
    }
    .botonnav{
        display: block;
    }
    .botonnav i {
        padding: 0 10px 0 10px;
    }
    .logo img{ 
        height: 80px;
    }
    .barra{
        top:5rem; 
        width:100%;
        height: 72%;
        display: block;
     }
    @media (max-width:400px){
        header{
            min-height: 30px;
            padding: 3px;
        }
        .barra{
           top:4.3rem; 
           width:100%;
           height: 72%;
           display: block;
        }
        .logo img{
            height: 70px;
        }
        .botonnav{
            display: block;  
        }
        .botonnav i {
            padding: 0 10px 0 10px;
        }
        .barra li a{
            padding: 2px 160px 2px 5px;
        }
    }

} 